.contentCardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contentCardContainerRight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contentCardPicture {
    min-width: 500px;
    max-width: 600px;
    object-fit: contain;
    border-radius: 4px;
}

.contentCardText {
    text-align: justify;
    padding-top: 40px;
    font-family: 'GFS Neohellenic', sans-serif;
    font-size: 20px;
}

.contentCardSubText {
    text-align: justify;
    font-family: 'Bungee', cursive;
    margin-top: 10px;
    font-size: 20px;
}

.contentCardHeader {
    font-family: 'Bungee', cursive;
    font-size: 30px;
}

@media only screen and (max-width: 1030px) {
    .contentCardText {
        padding-top: 25px;
        padding-bottom: 20px;
    }

    .contentCardSubText {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .contentCardPicture {
        width: 100%;
        min-width: 300px;
    }
}


@media only screen and (max-width: 600px) {
    .contentCardContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .contentCardContainerRight {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .contentCardText {
        text-align: center;
        padding-top: 25px;
        padding-bottom: 20px;
    }

    .contentCardSubText {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .contentCardPicture {
        width: 100%;
        min-width: 300px;
    }

    .contentCardHeader {
        text-align: center;
    }
}