@font-face {
    font-family: Bungee;
    src: url("/public/fonts/Bungee-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Bungee Hairline;
    src: url("/public/fonts/BungeeHairline-Regular.ttf") format("truetype");
}

@font-face {
    font-family: GFS Neohellenic;
    src: url("/public/fonts/GFSNeohellenic-Regular.ttf") format("truetype");
}

.font-head {
    font-family: 'Bungee', cursive;
}

.font-head-thin {
    font-family: 'Bungee Hairline', cursive;
}

.font-text {
    font-family: 'GFS Neohellenic', sans-serif;
}