@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic&display=swap');

.font-head {
    font-family: 'Bungee', cursive;
}

.font-head-thin {
    font-family: 'Bungee Hairline', cursive;
}

.font-text {
    font-family: 'GFS Neohellenic', sans-serif;
}