---
import LandingLayout from "../layouts/LandingLayout.astro";
import Layout from "../layouts/Layout.astro";
import Separator from "../components/Separator";
import Footer from "../components/Footer";
import ContactForm from "../components/ContactForm"
---

<Layout title="Anlässe" color="#565B60">
    <LandingLayout color="#565B60" menu="/arrow-white.png" img="">
        <div class="flex flex-col pl-[8%] lg:pl-[12.5%] lg:pr-[6%] mt-[6%]">
            <div class="flex flex-col w-[92%] lg:w-5/6 text-start z-10">
                <div class="text-black">
                    <h1 class="font-head lg:text-5xl lg:leading-[70px]">
                        In einem sehr
                    </h1><h1
                        class="inline-block font-head lg:text-5xl lg:leading-[70px] text-[#0A9084]"
                    >
                        schönen
                    </h1><h1
                        class="font-head inline-block lg:text-5xl lg:leading-[70px]"
                    >
                        ,&nbsp;
                    </h1>
                    <h1
                        class="font-head inline-block lg:text-5xl lg:leading-[70px]"
                    >
                        Idyllischen
                    </h1><h1 class="font-head lg:text-5xl lg:leading-[70px]">
                        Rahmen können Sie bei uns Ihre
                    </h1><h1
                        class="font-head inline-block lg:text-5xl lg:leading-[70px] text-[#0A9084]"
                    >
                        Feste feiern
                    </h1>
                    <h1
                        class="font-head inline-block lg:text-5xl lg:leading-[70px]"
                    >
                        .
                    </h1>
                </div>
            </div>
            <img
                class="w-64 lg:w-96 absolute bottom-0 right-0 lg:right-2 z-0"
                src="/sekt.png"
                alt="Sekt"
            />
        </div>
    </LandingLayout>
    <div class="relative">
        <main>
            <div class="px-[8%] lg:px-[12.5%] max-w-[1920px] mt-8 text-white">
                <section id="start">
                    <h1 class="font-head text-[20px]">
                        Familienfeiern, Geburtstage, Taufe etc.
                    </h1>
                </section>
                <p class="font-text text-[20px] pt-[10px]">
                    Der Weingarten bietet Ihnen den persönlichen Rahmen und eine
                    liebevolle Betreuung.
                </p>
                <h1 class="font-head text-[20px] pt-[40px]">
                    Geschäftsessen & Weihnachtsfeiern
                </h1>
                <p class="font-text text-[20px] pt-[10px]">
                    Nutzen Sie unsere Erfahrungen für Ihren Firmenevent - das
                    Zusammenspiel von Küche und Service.
                </p>
                <div
                    class="bg-[#E8E7E7] text-black mt-[40px] rounded-[5px] p-5"
                >
                    <p class="font-text text-[20px]">
                        Sie können ganz einfach über unser Kontaktformular
                        anfragen. Optional können sie gerne auch anrufen oder
                        persönlich vorbeikommen ... <br />
                        Wir freuen uns auf Sie !
                    </p>
                    <p class="mt-[20px]">
                        <a class="font-head" href="tel:063215763330"
                            >Telefon: 06321 5763330</a
                        >
                    </p>
                </div>
                <Separator color={"#E8E7E7"} />
                <ContactForm client:load />
            </div>
        </main>
        <img
            class="absolute bottom-0 right-0 z-5"
            src="Sunflower.png"
            alt="Sunflower"
        />
        <Footer lightText={false} />
    </div>
</Layout>
