---
import Layout from "../layouts/Layout.astro";
import LandingLayout from "../layouts/LandingLayout.astro";
---

<Layout title="Weingarten Maikammer">
	<LandingLayout color="#E8E7E7" />
	<main>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}
</style>
