---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import LandingLayout from '../layouts/LandingLayout.astro';
---

<Layout title="Weingarten Maikammer">
	<LandingLayout color="dark">

	</LandingLayout>
	<main>
		<h1 class="text-center">Welcome to Astro</h1>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}
</style>
