---
import LandingLayout from "../layouts/LandingLayout.astro";
import Layout from "../layouts/Layout.astro";
import Separator from "../components/Separator";
import Footer from "../components/Footer";
---

<Layout title="Menü" color="#565B60">
    <LandingLayout
        color="#565B60"
        menu="/arrow-white.png"
        img=""
        navColorWhite={false}
    >
        <div class="flex flex-col pl-[8%] lg:pl-[12.5%] lg:pr-[6%] mt-[6%]">
            <div class="flex flex-col w-[92%] lg:w-5/6 text-start z-10">
                <div class="text-black">
                    <h1
                        class="font-head inline-block lg:text-5xl lg:leading-[70px]"
                    >
                        Lassen &nbsp;
                    </h1><h1
                        class="inline-block font-head lg:text-5xl lg:leading-[70px] text-[#0A9084]"
                    >
                        Sie &nbsp;
                    </h1><h1
                        class="font-head inline-block lg:text-5xl lg:leading-[70px]"
                    >
                        sich von unserem leckeren Menü
                    </h1>
                    <h1
                        class="font-head inline-block lg:text-5xl lg:leading-[70px] text-[#0A9084]"
                    >
                        verzaubern
                    </h1>
                    <h1
                        class="font-head inline-block lg:text-5xl lg:leading-[70px]"
                    >
                        .
                    </h1>
                </div>
            </div>
            <img
                class="w-64 lg:w-96 absolute bottom-0 right-0 z-0"
                src="/steak.png"
                alt="Steak"
            />
        </div>
    </LandingLayout>
    <div class="relative">
        <section id="start">
            <main class="flex flex-col items-center">
                <img
                    class="w-screen lg:w-[50%]"
                    src="/speisekarte/Speisekarte-1.png"
                    alt="Karte1"
                />
                <img
                    class="w-screen lg:w-[50%]"
                    src="/speisekarte/Speisekarte-2.png"
                    alt="Kart2"
                />
                <img
                    class="w-screen lg:w-[50%]"
                    src="/speisekarte/Speisekarte-3.png"
                    alt="Karte3"
                />
            </main>
        </section>
        <img
            class="absolute bottom-0 right-0 z-5"
            src="Sunflower.png"
            alt="Sunflower"
        />
        <Footer lightText={false} />
    </div>
</Layout>
