---
import LandingLayout from "../../layouts/LandingLayout.astro";
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer";

const { id } = Astro.params;
---
<Layout title="Termine" color="#565B60">
  <LandingLayout
      color="#565B60"
      menu="/arrow-white.png"
      img=""
      navColorWhite={false}
  >
      <div class="flex flex-col mt-[6%] w-full">
          <div class="flex flex-col text-start z-10">
              <div class="text-black">
                  <h1
                      class="font-head lg:text-5xl text-center w-full lg:leading-[70px]"
                  >
                      {id}
                  </h1>
              </div>
          </div>
      </div>
  </LandingLayout>
  <div class="relative">
      <main>
        <img class="lg:max-w-2xl ml-auto mr-auto" src={`/termine/${id}.png`} alt="Menü">
      </main>
      <img
          class="absolute bottom-0 right-0 z-5"
          src="/Sunflower.png"
          alt="Sunflower"
      />
      <Footer lightText={false} />
  </div>
</Layout>
