---
import "../styles/global.css";
export interface Props {
	color: string;
}

const { color } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<div class="absolute">
			<div class={`w-screen bg-[${color}] h-6`}></div>
			<div class="flex justify-center items-center">
				<nav
					class="flex lg:space-x-4 justify-center lg:justify-between items-center w-3/4 text-xl font-head"
				>
					<a class="hidden lg:flex" href="#">Unser Menü</a>
					<a class="hidden lg:flex" href="#test">Küche</a>
					<img
						class={`w-56 lg:w-64 bg-[${color}] p-4`}
						src="/Logo.png"
					/>
					<a class="hidden lg:flex" href="#">Anlässe</a>
					<a class="hidden lg:flex" href="#">Über Uns</a>
				</nav>
				<img class="absolute right-5 lg:hidden" src="/burgerMenu.png" />
			</div>
		</div>
		<article
			class="flex items-center justify-center lg:justify-start min-h-screen text-center lg:text-start"
		>
			<slot />
			<!-- your content is injected here -->
		</article>
		<div class="flex justify-center">
			<div class={`bg-[${color}] w-full h-6 absolute bottom-0`}></div>
			<div
				class={`bg-[#E8E7E7] w-12 h-12 absolute bottom-0 rounded-full flex justify-center`}
			>
				<img class="w-8 object-contain" src="/arrow-black.png" />
			</div>
		</div>
		<style>
			body {
				height: 100vh;
			}
		</style>
	</body>
</html>
