---
export interface Props {
	title: string;
	color: string;
}

const { title, color } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Sunflower.png" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Unsere Küchenphilosophie: „Frische, saisonale und regionale Lebensmittel - ehrlich zubereitet! Seien Sie unser Gast im Weingarten, genießen Sie die Wohlfühlatmosphäre."
		/>
		<meta name="image" property="og:image" content="/pfifferlinge.webp" />
		<meta
			name="url"
			property="og:url"
			content="https://www.weingarten.vercel.app"
		/>
		<meta
			property="og:description"
			content="Unsere Küchenphilosophie: „Frische, saisonale und regionale Lebensmittel - ehrlich zubereitet!"
		/>
		<meta
			name="keywords"
			content="Restaurant, Pfalz, Maikammer, Wein, Delikatessen, Weingarten, Menü"
		/>
		<title>{title}</title>
	</head>

</html>
<body class={`bg-[${color}] max-w-[1920px]`}>
	<article>
		<slot />
		<!-- your content is injected here -->
	</article>
	<style>
		:root {
			--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
			--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
			--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

			--color-text: hsl(12, 5%, 4%);
		}

		html {
			font-family: system-ui, sans-serif;
			font-size: var(--font-size-base);
			color: var(--color-text);
			background-color: var(--color-bg);
			display: flex;
			justify-content: center;
			align-items: center;
		}

		body {
			margin: 0;
		}

		:global(h1) {
			font-size: var(--font-size-xl);
		}

		:global(h2) {
			font-size: var(--font-size-lg);
		}

		:global(code) {
			font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
				DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
				monospace;
		}
		:global(html) {
			scroll-behavior: smooth;
		}
	</style>
</body>
